*{
    margin:0;
    padding: 0;
}
.hola{
    background-color: gray!important;
    /*margin-right: 3px;*/
}
.hola1{
    background-color: pink!important;
}
@media(min-width: 992px){
    .col-md-4{
        width: 32%!important;
        margin-right: 10px;
        background-image: url("imagenes/cuadro-negro.png");
        height: 200px;
    }
    .col-md-4{
        margin-top: 30px;
    }
}
